# Fuerza a usar pnpm para publicar
publish-command=pnpm publish

# Siempre publica con acceso público (para scopes como @react-web-kit)
access=public

# No preguntar por OTP (si usas 2FA interactivo, igual lo pedirá)
always-auth=true
@react-web-kit:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}